

h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
}
.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: -23px;
    height:570px;
}

.carousel .item img {
   left: -9999px;  /*important */
   right: -9999px;  /*important */
   margin: 0 auto;  /*important */
   max-width: none;  /*important */
   min-width: 100%;
   position: absolute;
}   
.products.container{
    width:100%!important;
}
.woocommerce-pagination{float:left}